@import "tailwindcss";

@theme {
  --color-primary: #FABA73;
  --color-surfaceTint: #FABA73;
  --color-onPrimary: #482900;
  --color-primaryContainer: #673D00;
  --color-onPrimaryContainer: #FFDDBB;
  --color-secondary: #E0C1A3;
  --color-onSecondary: #402D17;
  --color-secondaryContainer: #58432C;
  --color-onSecondaryContainer: #FDDDBD;
  --color-tertiary: #BDCC9C;
  --color-onTertiary: #293412;
  --color-tertiaryContainer: #3F4B26;
  --color-onTertiaryContainer: #D9E9B6;
  --color-error: #FFB4AB;
  --color-onError: #690005;
  --color-errorContainer: #93000A;
  --color-onErrorContainer: #FFDAD6;
  --color-background: #18120C;
  --color-onBackground: #EEE0D5;
  --color-surface: #18120C;
  --color-onSurface: #EEE0D5;
  --color-surfaceVariant: #50453A;
  --color-onSurfaceVariant: #D4C4B5;
  --color-outline: #9D8E81;
  --color-outlineVariant: #50453A;
  --color-shadow: #000000;
  --color-scrim: #000000;
  --color-inverseSurface: #EEE0D5;
  --color-inverseOnSurface: #372F27;
  --color-inversePrimary: #845415;
  --color-primaryFixed: #FFDDBB;
  --color-onPrimaryFixed: #2B1700;
  --color-primaryFixedDim: #FABA73;
  --color-onPrimaryFixedVariant: #673D00;
  --color-secondaryFixed: #FDDDBD;
  --color-onSecondaryFixed: #281805;
  --color-secondaryFixedDim: #E0C1A3;
  --color-onSecondaryFixedVariant: #58432C;
  --color-tertiaryFixed: #D9E9B6;
  --color-onTertiaryFixed: #141F01;
  --color-tertiaryFixedDim: #BDCC9C;
  --color-onTertiaryFixedVariant: #3F4B26;
  --color-surfaceDim: #18120C;
  --color-surfaceBright: #403830;
  --color-surfaceContainerLowest: #130D07;
  --color-surfaceContainerLow: #211A14;
  --color-surfaceContainer: #251E17;
  --color-surfaceContainerHigh: #302921;
  --color-surfaceContainerHighest: #3B332C;
}

/* Reset básico */
* {
  box-sizing: border-box;
}


@font-face {
  font-family: 'Urbanist';
  src: url('/fonts/Urbanist-Light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Urbanist';
  src: url('/fonts/Urbanist-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Urbanist';
  src: url('/fonts/Urbanist-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Urbanist';
  src: url('/fonts/Urbanist-SemiBold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Urbanist';
  src: url('/fonts/Urbanist-Bold.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

html {
  scroll-behavior: smooth;
}

/* reduce motion if the user has it enabled (accessibility) */
@media (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
  }
}

body {
  font: 20px "Urbanist", system-ui, Arial, Helvetica, sans-serif;
  color: white;
}

/* *{
  outline: red  solid 1px;
  box-sizing: border-box;
} */